{% extends 'patienthome.html'%}
{%block content%}
<div class="container">
<form method="post">
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Ask your doubts </label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@gmail.com"><br><br>
  <label for="exampleFormControlTextarea1" class="form-label">Doubts </label><br>
  <textarea class="form-control" name="question" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>


  <button class="submit" name="submit"  type="submit" class="btn btn-warning">Submit</button>
</form>
</div>

{% endblock %}